body{
background-color: green;
}
#cara{
  position: relative;
  margin: 0 auto;
  margin-top: 200px;
  width: 495px;
  height: 580px;
  background-color: #ba945d ;
  border-radius: 70% 70% 70% 70% / 50% 50% 70% 70%;
  border-color: black;
  border-width: 5px;
  border-style: solid;
}

#pelo1{
  position: relative;
  margin: 0 auto;
  width: 485px;
  height: 220px;
  border-radius: 50% 50% 51% 49% / 66% 66% 34% 34%;
  background-color: black;
}

#pelo2{
  position: relative;
  bottom: 30px;
  right: 80px;
  margin: 0 auto;
  width: 100px;
  height: 100px;
  clip-path: polygon(50% 0%, 68% 30%, 98% 35%, 76% 56%, 79% 91%, 49% 79%, 21% 91%, 26% 57%, 2% 35%, 35% 31%);
  transform: rotate(15deg);
  background-color: black;
}
#ceja1{
  position: relative;
  top: 100px;
  right: 100px;
  margin: 0 auto;
  width: 110px;
  height:110px;
  clip-path: polygon(0 28%, 100% 36%, 100% 66%, 0 58%);
  border-radius: 90%;
  background-color: black;
}
#ceja2{
  position: relative;
  bottom: 10px;
  left: 110px;
  margin: 0 auto;
  width: 110px;
  height:110px;
  clip-path: polygon(100% 58%, 0 66%, 0 36%, 100% 28%);
  border-radius: 90%;
  background-color: black;
}
#ojoizq{
  position: relative;
  bottom: 50px;
  right: 100px;
  margin: 0 auto;
  width: 110px;
  height:110px;
  clip-path: ellipse(31% 41% at 50% 50%);
  background-color: black;
}
#pupilaizq{
  position: relative;
  bottom: 140px;
  right: 110px;
  margin: 0 auto;
  width: 40px;
  height:40px;
  clip-path: ellipse(31% 41% at 50% 50%);
  background-color: white;
}
#ojoder{
  position: relative;
  bottom: 200px;
  left: 120px;
  margin: 0 auto;
  width: 110px;
  height:110px;
  clip-path: ellipse(31% 41% at 50% 50%);
  background-color: black;
}
#pupilader{
  position: relative;
  bottom: 290px;
  left: 110px;
  margin: 0 auto;
  width: 40px;
  height:40px;
  clip-path: ellipse(31% 41% at 50% 50%);
  background-color: white;
}
#orejaiz{
  position: relative;
  bottom: 360px;
  right: 75px;
  width: 110px;
  height:110px;
  clip-path: ellipse(22% 44% at 50% 50%);
  transform: rotate(-10deg);
  background-color: #ba945d;
}
#orejade{
  position: relative;
  bottom: 470px;
  left: 450px;
  width: 110px;
  height:110px;
  clip-path: ellipse(22% 44% at 50% 50%);
  transform: rotate(10deg);
  background-color: #ba945d;
}
#fleko{
  position: relative;
  top: -744px;
  left: -25px;
  width: 500px;
  height:310px;
  clip-path: polygon(0 39%, 36% 33%, 65% 33%, 100% 39%, 65% 40%, 36% 40%);
  background-color: #ba945d;
  border-radius: 100% 0 100% 0;
}
.nariz{
  position: relative;
  bottom: 843px;
  right: -257px;
  width: 20px;
  height: 70px;
  border-left: 3px solid black;
  border-top-left-radius: 20%;
  border-bottom-left-radius: 45%;
}

#nose{
  position: relative;
  top: 145px;
  margin: auto;
  left: 2px;
  width: 50px;
  height: 50px;
  border-top: 6px solid black;
  border-radius: 45%;
}

#barba{
  position: relative;
  bottom: 73px;
  left: 5px;
  width: 485px;
  height:550px;
  clip-path: polygon(0 29%, 6% 52%, 21% 64%, 34% 70%, 62% 70%, 77% 64%, 94% 51%, 100% 28%, 69% 56%, 61% 53%, 38% 53%, 27% 56%);
  background-color: black;
  opacity: 100%;
}
#barba2{
  position: relative;
  bottom: 570px;
  left: 100px;
  width: 285px;
  height:350px;
  clip-path: polygon(20% 61%, 34% 45%, 69% 45%, 82% 61%, 60% 53%, 43% 53%);
  background-color: black;
  opacity: 90%;
}
#boca {
  position: relative;
  bottom: 766px;
  margin: auto;
  left: 2px;
  width: 120px;
  height: 60px;
  border-top: 20px solid #BF503C;
  border-radius: 40%;
  transform: rotate(180deg);
}
#cami{
  position: relative;
  background: url(auteretrarofacil.svg);
  background-repeat: no-repeat;
  background-size: contain;
  height: 600px;
  width: 700px;
  margin-left: -73px;
  top: -796px;
}
#degra{
  position: relative;
  clip-path: polygon(15% 26%, 14% 59%, 39% 64%, 42% 43%, 30% 38%);
  background:-webkit-linear-gradient(top, #000000, #FFBD80);
  top: -1780px;
  margin-left: -50px;
  width: 350px;
  height: 300px;
  background-color: black;
}
#degra1{
  position: relative;
  clip-path: polygon(15% 26%, 14% 59%, 39% 64%, 42% 43%, 30% 38%);
  background:-webkit-linear-gradient(top, #000000, #FFBD80);
  top: -2083px;
  margin-left: 230px;
  width: 310px;
  height: 300px;
  background-color: black;
  transform: scaleX(-1);
}
